*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  min-height: 100vh;
}
body{
  background-image: url("./images/fondos/fondo_body.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.regalos{
  margin: 100px auto;
  width: 90%;
  background-color: rgb(0 0 0 / .5);
}

.regalos-form{
  color: rgb(255,255,255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 10px;
}

.regalos-form > input{
  padding: 0.5em;
  border-radius: 5px;
}

.btn{
  padding: 0.5em 1em;
  font-size: 16px;
  color: rgb(255 255 255);
  font-weight: bold;
  border-radius: 5px;
}

.add-btn{
  background-color: rgb(44 91 2);

}

.remove-btn{
  background-color: rgb(179 0 0 );

}

.regalos-container{
  display:grid;
  text-align: center;
  color: rgb(255, 255, 255);
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}
.regalos-title{
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.regalos-list{
  list-style: none;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.5rem;
}

.regalos-item{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.delete-btn{
  background-color: transparent;
}

.hidden-message{
  visibility: hidden;
}