*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  min-height: 100vh;
}
body{
  background-image: url("./images/fondos/fondo_body.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.regalos{
  margin: 100px auto;
  width: 90%;
  background-color: rgb(0 0 0 / .5);
}

.regalos-form{
  color: rgb(255,255,255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  margin: 10px;
  color:rgb(0 0 0 )
}

 input{
  padding: 0.5em;
  border-radius: 5px;
}

.btn{
  padding: 0.5em 1em;
  font-size: 16px;
  color: rgb(255 255 255);
  font-weight: bold;
  border-radius: 5px;
}

.add-btn{
  background-color: rgb(44 91 2);

}

.remove-btn{
  background-color: rgb(179 0 0 );

}
.btn-sorpresa{
  background-color: cyan;
  color: black;
}

.btns-container{
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.delete-btn{
  /* width: 40%; */
  background-color: rgb(179 0 0 );
  /* border: none;
  padding: 10px;
  margin-bottom: 0;
  color: rgb(255 255 255);
  font-size: 14px; */
}

.edit-btn{
  /* width: 40%; */
  background-color: rgb(52 93 137 );
  /* border: none;
  padding: 10px;
  margin-bottom: 0;
  color:rgb(255 255 255);
  font-size: 14px; */
}
.regalos-container{
  display:grid;
  text-align: center;
  color: rgb(255, 255, 255);
  place-items: center;
  padding: 1.5rem;
}
.regalos-title{
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.regalos-list{
  list-style: none;
  display: grid;
  font-weight: 900;
  place-items:center;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit,(200px,1fr));
  grid-auto-flow: column;
  font-size: 1.5rem;
}

.regalos-item{
  display:flex;
  max-width:  200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.hidde-message{
  display: none;
}

.img-regalo{
  display:block;
  width: 50px;
  aspect-ratio: 1;
}

/* Modal */
.modal::backdrop{
  background: rgb(44 91 2 / .4);
  opacity: .8;
}

.modal{
  padding: 1rem;
  margin: auto;
  max-width: 80%;
}

.open-modal{
  background-color:rgb(44 91 2) ;
}

/* btn borrar todo y agregar */
.btns{
  display: grid;
  place-items: center;
  grid-auto-flow: column;
}

/*card*/
.card{
  border: 2px solid black;
  display: grid;
  place-items:center;
  gap: 10px;
  background-color: rgb(45 87 44 / .6);
  padding: 20px 0 0 0;
  border-radius: 5px;
}

.card-img{
  display: block;
  width: 35%;
}

